<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\Administrator\桌面\PersonalInfo\App_Data\Database.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="TestDBConnectionString" connectionString="Data Source=polly_computer;Initial Catalog=TestDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
